


:root{
    --cor-de-fundo:#723E4E;
    --cor-texto:#F4B036;
    --botao-ativo:#EF3353;
    --botao-inativo:#B03851;
    --texto-simples:#FFFFFF;


}
body{
    background-color: var(--cor-de-fundo);
}

.botao{
    color: var(--texto-simples);
    background-color: var(--botao-inativo);
    border-color: var(--botao-ativo);
}

.titulo-principal{
    color: var(--cor-texto);
    font-family: 'Namdhinggo';
}